<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Projects\Prototype\ContentAnalyzer\Database\ContentAnalyzerDatabase.mdf;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="Interpreter" value="E:\Projects\Prototype\ContentAnalyzer\Environment\env\Scripts\python.exe" />

		<add key="Predict1" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model1\predict.py" />
		<add key="Train1" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model1\train.py" />
		<add key="Model1" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model1\model.h5" />
		<add key="Dataset1" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model1\dataset.txt" />

		<add key="Predict2" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model2\predict.py" />
		<add key="Train2" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model2\train.py" />
		<add key="Model2" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model2\model.h5" />
		<add key="Dataset2" value="E:\Projects\Prototype\ContentAnalyzer\DataAnalysisService\M-USE\Model2\labeled.csv" />

	</appSettings>
</configuration>