<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InterpreterPath" value="E:\Projects\Prototype\ContentAnalyzer\Environment\env\Scripts\python.exe" />
		<add key="PredictScriptPath" value="E:\Projects\Prototype\ContentAnalyzer\M-USE-Toxic\Scripts\predict.py" />
		<add key="TrainScriptPath" value="Scripts\train.py" />
	</appSettings>
</configuration>