<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AllCommentsDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Projects\Prototype\ContentAnalyzer\DataCollectionService\Databases\SqlServer\AllCommentsDatabase.mdf;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key ="VkApplicationId" value="8046073"/>
		<add key ="VkSecureKey" value="rvSXQVVe9QI7Xq1hjKNm"/>
		<add key ="VkServiceAccessKey" value="041d6301041d6301041d6301940467a6f80041d041d630165c7f58fa7908b5e485a8377"/>
		<add key ="ScanCommentsDelay" value="60000"/>
		<add key ="ScanPostDelay" value="60000"/>
		<add key ="PostQueueSize" value="3"/>
		<add key ="NRGroupId" value="-29573241"/>
		<add key ="LentachGroupId" value="-29534144"/>
	</appSettings>

</configuration>